@import "../node_modules/bootstrap/scss/bootstrap.scss";

.navbar-custom {
  background: #ff4b1f;
  background: -webkit-linear-gradient(to right, #1fddff, #ff4b1f);
  background: linear-gradient(to right, #1fddff, #ff4b1f);
}
