@import "../node_modules/bootstrap/scss/bootstrap.scss";

$primary-color: #25274d;
$secondary-color: #ff9b00;

.navbar-custom {
  background: $primary-color;
  background: -webkit-linear-gradient(to right, #6c72e6, $primary-color);
  background: linear-gradient(to right, #6c72e6, $primary-color);
  a {
    color: white;
  }
}

.footer-custom {
  @extend .navbar-custom;
  font-size: 11px;
  color: white;
}

.alert.alert-success {
  background-color: $secondary-color;
  padding: 20px;
  border-radius: 5px;
}
.btn-success {
  margin-top: 20px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px #999;
}
.form-group label {
  border: 1px solid #ddd;
  box-shadow: 2px 2px 4px #aaa;
  padding: 5px;
  display: inline-block;
  margin-bottom: 5px;
}
#special-h3 {
  color: #000;
  font-family: "Arial", sans-serif;
  font-size: 24px;
  margin-bottom: 20px;
  line-height: 1.4;
  font-family: "Roboto", sans-serif;
}
.video {
  max-width: 100%;
  height: auto;
  border-radius: 7px;
}

.btn-send {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &-input {
    display: none;
  }
  &-label {
    width: 300px;
    border: 2px solid $primary-color;
    color: $primary-color;
    font-weight: 100;
    font-size: 18px;
    line-height: 40px;
    font-family: arial;
    text-align: center;
    border-radius: 40px;
    box-shadow: inset -300px 0px 0px 0px transparent;
    cursor: pointer;
    transition: all 200ms ease;
    overflow: hidden;
  }
  p{
    font-size: 1.3em;
    color: $secondary-color;
  }
}

.btn-send-label:hover {
  background: rgba(255, 255, 255, 0.2);
}

.btn-send-input:checked ~ label {
  animation: anim 3.5s linear;
}

@keyframes anim {
  0% {
    color: transparent;
    width: 300px;
    line-height: 40px;
  }

  5% {
    width: 35px;
  }

  25% {
    width: 35px;
  }

  30% {
    line-height: 10px;
    width: 300px;
  }

  40% {
    box-shadow: inset -300px 0px 0px 0px $primary-color;
  }

  95% {
    line-height: 10px;
    box-shadow: inset 0px 0px 0px 0px $primary-color;
  }

  100% {
    color: transparent;
    box-shadow: inset 0px 0px 0px 0px $primary-color;
    line-height: 40px;
  }
}

.text-input {
  margin: auto;
  width: 350px;
  height: 40px;
  border-radius: 40px;
}
