@import "../node_modules/bootstrap/scss/bootstrap.scss";

$primary-color: #25274d;
$secondary-color: #ff9b00;

.navbar-custom {
  background: $primary-color;
  background: -webkit-linear-gradient(to right, #6c72e6, $primary-color);
  background: linear-gradient(to right, #6c72e6, $primary-color);
  a {
    color: white;
  }
}


.footer-custom {
  @extend .navbar-custom;
  font-size: 11px;
  color: white;
}
